@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";

@use "../../assets/styles/typography.scss";
.header-menu-list {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 10px;
  font-family: typography.$font-family;
  cursor: pointer;
  a {
    color: colors.$black;
    text-decoration: none;
    h4 {
      font-weight: typography.$font-weight-text;
      font-size: typography.$font-size-small-1;
    }
  }
  &:hover {
    .header-dropdown-menu {
      display: block;
      z-index: 1;
    }
  }

  .header-menu-arrow {
    margin-left: 5px;
    font-size: typography.$font-size-small-3;
  }
  .header-dropdown-menu {
    width: 170px;
    display: none;
    background-color: colors.$white;
    position: absolute;
    top: 20px;

    box-shadow: 3px 5px 5px colors.$shadow;

    ul {
      display: flex;
      flex-direction: column;
      padding: 15px 45px 15px 10px;
      li {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          color: colors.$black;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
          }
        }
      }
    }
  }
}
