@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";
@use "../../assets/styles/typography.scss";

.breadcrumb {
  display: flex;
  text-decoration: none;
  color: colors.$black;
  font-family: typography.$font-family;
  font-weight: typography.$font-weight-text;
  font-size: typography.$font-size-small-2;
  margin: 10px 0 20px 0;

  .breadcrumb-not-active {
    color: colors.$gray;

    &.breadcrumb-active {
      color: colors.$black;
    }
  }

  a {
    text-decoration: none;
    color: colors.$black;
  }

  .breadcrumb-arrow {
    display: flex;
    font-size: typography.$font-size-small-1;
    margin: 0 10px;
  }
}
