@use "../../assets/styles/typography.scss";

.main {
  .main-banner {
    width: 100%;
  }

  .main-paragraph {
    margin: 20px 0;
    word-break: break-word;
    font-family: typography.$font-family;
    font-weight: typography.$font-weight-text;
  }
}
