@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";
@use "../../assets/styles/typography.scss";

.best-sellers-products {
  font-family: typography.$font-family;
  font-size: typography.$font-size-small-2;
  color: colors.$black;

  .best-sellers-products-img {
    img {
      width: 100%;
      background-color: colors.$background-image;
    }

    .best-sellers-products-text {
      width: 90%;
      display: flex;
      flex-direction: column;

      span {
        display: block;
        min-height: 30px;
        margin: 5px 0;
        a {
          text-decoration: none;
          color: colors.$black;
        }
      }
      .best-sellers-price {
        font-weight: typography.$font-weight-text;
      }
    }
  }
}

@media screen and (min-width: breakpoints.$desktop) {
  .best-sellers-products {
    font-size: typography.$font-size-small-1;
  }
}
