@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";
@use "../../assets/styles/typography.scss";
.newsletter {
  margin: 50px 0 20px;
  font-family: typography.$font-family;
  font-size: typography.$font-size-newsletter;
  font-weight: typography.$font-weight-text;
  .newsletter-form,
  .newsletterform-feedback {
    width: 351px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .newsletter-form-submit {
      width: 100%;
      padding-bottom: 7px;
      border-bottom: 1.5px solid colors.$gray;
      display: flex;
      justify-content: space-between;

      .newsletter-form-input,
      .newsletter-email-validation {
        width: 90%;
        border: none;
        font-family: typography.$font-family;
      }
      .newsletter-email-validation {
        border: 2px solid colors.$red;
        border-radius: 5px;
      }
      .newsletter-form-button {
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: typography.$font-size-small;
      }
    }
    .newsletter-form-terms {
      width: 82%;
      padding: 7px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .newsletterform-feedback {
    height: 61px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 20px;
    .newsletter-feedback-icon {
      margin: 0 10px;
      font-size: typography.$font-size-extra-small;
      color: colors.$green;
    }
  }
}
@media screen and (min-width: breakpoints.$desktop) {
  .newsletter {
    margin: 16px 0 0 0;
  }
}
