@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";
@use "../../assets/styles/typography.scss";

.cart {
  font-family: typography.$font-family;
  color: colors.$black;

  .cart-span {
    display: block;
    font-size: typography.$font-size-medium;
    font-weight: typography.$font-weight-text;
    margin: 30px 0;
  }
  .cart-product-container {
    width: 20%;
  }
}
