@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";
@use "../../assets/styles/typography.scss";

.popular-products {
  margin-top: 40px;
  font-family: typography.$font-family;
  font-size: typography.$font-size-small-2;
  color: colors.$black;

  .popular-products-img {
    img {
      width: 100%;
      background-color: colors.$background-image;
    }

    .popular-products-text {
      .popular-title-wrapper {
        display: flex;
        justify-content: space-between;
      }
      margin-top: 15px;
      a {
        text-decoration: none;
        color: colors.$black;
      }
      width: 100%;
      display: flex;
      flex-direction: column;
      h2,
      h3 {
        display: block;
        padding: 5px 0;
      }
      .popular-price {
        font-weight: typography.$font-weight-text;
      }
    }
  }
}
