@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";

@use "../../assets/styles/typography.scss";

.tab-info {
  margin-top: 50px;
  margin-left: 10px;
  width: 100%;
  font-family: typography.$font-family;
  color: colors.$black;
  .tab-info-titles {
    display: flex;
    border-bottom: 1px solid colors.$gray;
    .tab1-info-title,
    .tab2-info-title {
      color: colors.$gray;
      margin-right: 60px;
      padding: 0 0 30px 0;
      position: relative;
      font-weight: typography.$font-weight-text;
      cursor: pointer;
    }
    .tab-info-clicked {
      color: colors.$black;

      &::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        background: colors.$black;
        color: colors.$black;
        content: "";
      }
    }
  }
  .tab-info-texts {
    padding-top: 20px;
  }
}
