@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";

@use "../../assets/styles/typography.scss";

.button-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: typography.$font-size-default;
  cursor: pointer;
}

.button-color-red {
  color: colors.$red;
}
.button-color-black {
  color: colors.$black;
}
.button-color-gray {
  color: colors.$gray;
}
@media screen and (min-width: breakpoints.$desktop) {
  .button-icon {
    font-size: typography.$font-size-medium;
  }
}
