@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";

@use "../../assets/styles/typography.scss";

.button-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  &.red-color {
    color: colors.$red;
  }
  &.black-color {
    color: colors.$black;
  }
  &.gray-color {
    color: colors.$gray;
  }
  &.small-size {
    font-size: typography.$font-size-default;
  }
  &.medium-size {
    font-size: typography.$font-size-medium;
  }
  &.large-size {
    font-size: typography.$font-size-large;
  }
  &.button-disabled {
    color: colors.$gray;
  }
  @media screen and (min-width: breakpoints.$desktop) {
    &.medium-size {
      font-size: typography.$font-size-medium;
    }
  }
}
