@use "../../assets/styles/breakpoints.scss";

@use "../../assets/styles/colors.scss";

@use "../../assets/styles/typography.scss";

.header {
  position: relative;

  margin-bottom: 20px;
  .top-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid colors.$gray;

    .header-logo {
      width: 74px;
    }

    .header-action-buttons,
    .header-actions-shop {
      width: 116px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: typography.$font-size-small-2;

      .header-actions-shop {
        width: 69px;
      }
    }
  }
  .header-menu-mobile {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 32px;

    background-color: white;
    z-index: 1;
  }

  .overlay {
    width: 100%;
    height: 100vh;
    background-color: colors.$gray;
    position: absolute;
    opacity: 0.5;
    top: 30px;
  }
}

@media screen and (min-width: breakpoints.$desktop) {
  .header {
    .header-menu-desktop {
      width: 60%;
      padding: 15px 15px 0;
      > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .top-header {
      .header-action-buttons,
      .header-actions-shop {
        .header-actions-shop {
          width: 80px;
        }
      }
    }
  }
}
