@use "../../assets/styles/breakpoints.scss";

@use "../../assets/styles/colors.scss";

@use "../../assets/styles/typography.scss";

.header {
  position: relative;

  margin-bottom: 20px;
  .topheader {
    width: 100%;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid colors.$gray;
    .header-logo {
      cursor: pointer;
    }
    &.noBorder {
      border: none;
    }

    .header-action-buttons,
    .header-actions-shop {
      width: 116px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: typography.$font-size-small-2;

      .header-actions-shop {
        width: 69px;
        align-items: center;
      }
    }
  }
  // .cart-floating-overlay {
  //   width: 70%;
  //   height: 100vh;
  //   background-color: colors.$gray;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   opacity: 0.5;
  //   z-index: 1;
  // }
  // .header-floating-cart {
  //   position: relative;
  //   width: 30%;
  //   padding: 35px 25px 0;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   z-index: 1;
  //   background-color: colors.$white;
  //   .header-floating-cart-close-button {
  //     position: absolute;
  //     top: 35px;
  //     right: 25px;
  //   }
  // }
  .header-menu-mobile {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 32px;
    background-color: colors.$white;
    z-index: 2;
  }

  .overlay {
    width: 100%;
    height: 100vh;
    background-color: colors.$gray;
    position: absolute;
    opacity: 0.5;
    top: 32px;
    z-index: 1;
  }
}

@media screen and (min-width: breakpoints.$desktop) {
  .header {
    .header-menu-desktop {
      width: 60%;
      padding: 15px 15px 0;
      > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .topheader {
      .header-action-buttons {
        width: 80px;
        .header-actions-shop {
          width: 100%;
        }
      }
    }
  }
}
