@use "../../assets/styles/breakpoints.scss";
@use "../../assets/styles/colors.scss";
@use "../../assets/styles/typography.scss";

.favorites {
  font-family: typography.$font-family;
  color: colors.$black;

  .favorites-span {
    display: block;
    font-size: typography.$font-size-medium;
    font-weight: typography.$font-weight-text;
    margin: 30px 0;
  }
}
