@use "../../assets/styles/breakpoints.scss";

@use "../../assets/styles/colors.scss";

@use "../../assets/styles/typography.scss";

.error-page {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: typography.$font-family;
  font-size: typography.$font-size-default;
  font-weight: typography.$font-weight-text;

  .error-page-wrapper {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    span {
      inline-size: 300px;
      line-height: 1.3;
      text-align: center;
    }

    .error-page-icon {
      font-size: typography.$font-size-extra-large-3;
      color: colors.$gray;
    }
  }
}
