@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans&display=swap");
$font-size-small-3: 10px;
$font-size-small-2: 12px;
$font-size-small-1: 14px;
$font-size-extra-small: 10px;
$font-size-default: 16px;
$font-size-medium: 20px;
$font-size-large: 25px;
$font-size-extra-large-1: 40px;
$font-size-extra-large-2: 80px;
$font-family: "Inter", sans-serif;
$font-weight-section-header: 700;

$font-weight-text: 600;
