@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans&display=swap");
$font-size-newsletter: 12px;
$font-size-extra-small: 14px;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-large: 25px;
$font-family: "Inter", sans-serif;
$font-weight-section-header: 700;
$font-weight-section-see-all: 600;
$font-weight-text: 600;
